---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import GitHub from "../icons/GithubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GitHubIcon from "../icons/GithubIcon.astro";
import SocialPill from "../components/SocialPill.astro";
---

<Layout title="drmcodes | FullStack Web Developer ">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="https://avatars.githubusercontent.com/u/143167807?v=4"
        alt="drmcodes-pic"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola👋, soy drmcodes <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/drmcodes/"
          target="_blank"
          rel="noopener"
          "flex
          justify-center
          items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <span class="text-yellow-200/90"
          >1 año de experiencia como autodidacta.</span
        >
        <span class="opacity-80">Desarrollador Web FullStack,</span>
        enfocado en el aprendizaje continuo y la mejora constante.
      </h2>

      <nav class="flex gap-x-2 mt-8">
        <SocialPill href="https://www.linkedin.com/in/drmcodes/">
          <LinkedInIcon class="w-6 h-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/drmcodes">
          <GitHubIcon class="w-6 h-6" />
          GitHub
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>
