---
const year = new Date().getFullYear();
---

<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full lg:w-[740px] mx-auto mb-10">
  <div class="w-full p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm sm:text-center text-yellow-200">
      © {year}
      <a href="https://www.linkedin.com/in/drmcodes/" class="hover:underline">drmcodes.</a>
       Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0">
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Sobre mi</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
